h2{
    color:brown;
    background-color: rgb(230, 0, 255);
}

.imgContainer{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
}

#desc{
    color:blueviolet
}

.extra{
    width:100px; 
    height:100px;
    background-color: aquamarine;
    overflow-y: auto;
}