
body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    color: white;
    font-size: 18px;
    background-color: blue;
    padding-bottom: 25px;
}

.wrapper ul {
    display: flex;
    margin: 0 50px;
    padding: 5px;
    justify-content: space-between;
    list-style-type: none;
    


    
}

.navigation > ul > li{
    display: flex;
    color: white;
    text-decoration: none;
    /* background-color: blue; */
}

.container{
    display: flex;
    height: 50%;
    width: 100%;
    background-color: aquamarine;

}

.hero > ul > li {
    display: flex;
    list-style: none;
    font-family: sans-serif;
}