* {
  margin: 0 0;
}
.myform {
  min-width: 50%;
  height: 100vh;
  padding: 20px 20px;
  align-items: center;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  /* margin: 50px auto; */
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

img {
  display: none;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 0;

  /* align-items: center; */
}

.fill {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.submit {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#signup {
  border-radius: 25px;
  border: none;
  color: white;
  background-image: linear-gradient(pink, purple);
  padding: 10px;
  width: 150px;
}

#signin {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}

.border {
  width: 100%;
  padding: 6px 0px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid grey;
  border-width: 0px 0px 2px 0px;
}

.border:focus {
  outline: none;
  border-image: linear-gradient(to right, #deafdb 0%, #efb9ad 100%) 1;
  border-width: 0px 0px 2px 0px;
}

@media (min-width: 680px) {
  body {
    display: flex;
  }

  img {
    min-height: 883px;
    display: block;
    object-fit: cover;
    opacity: 0.4;
  }
  .image {
    height: 100%;
    width: 100vw;
    background: linear-gradient(purple, pink);
    overflow: hidden;
  }

  .myform {
    width: 40%;
  }

  .register {
    padding: 40px 0;
  }
}
