* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;  
    background-color: #7e7e8d5b;  
}

a {
    color: white;
}

ul {
    padding: 0;
    margin: 0;
}

header {
    margin: 20px auto;
}

.logo {
    width: 100px;
    cursor: pointer;
  }

.menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 70px;
    /* flex-direction: column; */
}

.bar{
    position: relative;
}
.bar > ul {
    display: none;
    font-size: 12px;
    list-style: none;
}
  
.bar ul li {
    margin-right: 30px;
}
  
.bar ul li a {
    text-decoration: none;
}
  
.bar ul li a:hover {
    text-decoration: underline;
}
 
.navigation .sidebar {
    display: none;
    position: relative;
    width: 250px;
    height: 100vh;
    color: aliceblue;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10px;
}
  
.navigation .sidebar ul {
    display: block;
}
  
.navigation .sidebar ul li {
    margin-bottom: 15px;
}
  
.navigation .sidebar ul li a {
    color: aliceblue;
}
  
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* #myInput {
    position: relative;
    border-radius: 18%;
    border: 2px solid #F1EFFA;
    height: 15px;
} */

.myinput i {
    position: absolute;
    top: 2px;
    left: 122px;
    cursor: pointer;
}

.learn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px auto;
}

h1 {
    font-size: 45px;
    color: #5D60D4;
}

#medium {
    font-size: 30px;
}


#lorem {
    font-size: small;
    width: 200px;
    margin: 0 auto;
    /* margin: 10px 30px; */
}

.apply {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 320px;
}

#applynow {
    border-radius: 25px;
    border: none;
    color: white;
    background-image: linear-gradient(#F1EFFA, #6163D6);
    padding: 10px;
    width: 150px;
}

#readmore {
    border-color: #5D60D4;
    border-radius: 25px;
    padding: 10px;
    width: 150px;
}

/* mobile image slider */
.slider {
    margin: 25px auto;
    width: 300px;
    height: 300px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .slide {
    border-radius: 36% 46% 87% 47%;
    width: 300px;
    height: 100%;
    flex-shrink: 0;
  }

  .slides > div {
    /* CURRENT way. */
    scroll-snap-align: start;
  }

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 80px;
  }

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D60D4;
    border-color: #5D60D4;
    align-items: center;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}

.chat i{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-image: linear-gradient(to right, #7D7ED7 50%, #5D60D4 50%);
    width: 60px;
    height: 60px;
}


@media (min-width: 1040px) {
.bar > ul {
    display: flex;
    }
.menu {
    display: none;
    }

.bar {
    position: relative;
    display: flex;
    background-image: linear-gradient(#F1EFFA, #6163D6);
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    width: 50%;
    height: 50px;
    padding: 8px;
    align-items: center;
   justify-content: center;
      }

#myInput {
    position: relative;
    }
    
.myinput i {
    position: absolute;
    top: 16px;
    left: 435px;
    cursor: pointer;
    }
    

.learn {
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    }


.apply {
    display: flex;
    justify-content: space-between;
    width: 320px;
    }

h1 {
        font-size: 85px;
    }
    
    #medium {
        font-size: 60px;
    }

    #lorem {
        width: 500px;
        padding-right: 20px;
    }

}