*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  width: 90%; 
  margin:10% auto;
}

.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color:#fff;
  box-shadow: 2px 2px 2px 2px;
}



.img-div{
  background-image: url(/tech_frontend_itskills-1/Anosike/Form\ Assignment/img.jpg);
  width: 100%;
  height: 700;
}

img{
  width: 100%;  
}

form{
padding: 10px 30px;
}

.container h2{
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 600;
}

.form-div .form-group{
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.form-div .form-group input{
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd;
  width:100%;
  padding-bottom: 10px;
  
 }

 
 .form-div .form-group label{
  font-size: 15px;
font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
color: rgb(217, 214, 214);
 }

 .check{
  padding-top: 10px;
 }

 .check label{
  font-size: 12px;
  font-family: sans-serif;
 }

 .link-div{
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap:60px
 }

 .link-div a{
  background-image: linear-gradient(rgb(239, 107, 239),rgb(247, 96, 121));
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  font-family: sans-serif; 
 }
 

 .img-div img{
height: 450px;
width: 100%;
 }

 .link-div p{
  display: flex;
  align-items: center;
  gap:10px;
  font-size: 16px;
  font-family:serif;
 }


 @media(min-width:700px){
  .wrapper{
    flex-direction: column;
  }

  .img-div img{
    height: 600px;
     }

     .link-div a{
      padding: 0.7rem 1.5rem;
     }

     .form-container{
      width: 80%;
     }
 }
 
 @media ( min-width: 1040px){
  .container h2{
  padding-top: 50px;  
  }

  .wrapper{
    flex-direction: row;
    width: 90%;
  }

  .link-div a{
    padding: 0.6rem 3.5rem;
   }


   .link-div{
    padding-top: 30px;
    gap:2.5rem;
   }


  .check{
    margin-top: 10px;
  }

  .check label{
    font-size: 12px;
    font-family: sans-serif;
   }
     .form-div .form-group input{
      font-size: 0.8rem;
      margin-bottom: 20px;
    }

     .form-div .form-group  label{
      font-size: 1rem;
     }

     .img-div img{
      display: none;
     }
 }