* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: rgb(129, 129, 212);
  width: 100vw;
  height: 100vh;
}
.container h2 {
  color: white;
  font-family: Arial;
  text-align: center;
  padding-top: 30px;
}
.container h4 {
  color: rgb(240, 230, 230);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}
.main-page {
  background-color: white;
  width: 80%;
  height: 85vh;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}
img {
  width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}

.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-top: 20px;
}
.navigation {
  height: 30px;
  background-color: rgb(75, 75, 184);
  color: white;
  display: flex;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  margin-bottom: 20px;
}

.navContainer {
  height: 120px;
  width: 90%;
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

ul {
  list-style-type: none;
}
li {
  display: inline;
  font-size: 15px;
  padding: 10px;
  margin-right: 20px;
}

.main-page .navigation ul li a {
  color: white;
  text-decoration: none;
}
.textPic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 30px;
}
.text h1 {
  color: rgb(98, 98, 214);
  font-size: 130px;
  font-family: Arial, Helvetica, sans-serif;
}
.text h3 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.text h5 {
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
}
.text p {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
#apply {
  margin-top: 10px;
  background-color: rgb(67, 67, 199);
  color: white;
  width: 158px;
  height: 40px;
  border-radius: 15px;
  border-color: white;
  border-width: 2px;
  font-size: 20px;
}
#rmore {
  margin-left: 40px;
  margin-top: 10px;
  width: 158px;
  height: 40px;
  border-radius: 15px;
  border-color: rgb(81, 17, 231);
  border-width: 2px;
  font-size: 20px;
}

.img-case img {
  height: 320px;
  width: 95%;
  border-radius: 15% 85% 87% 13% / 13% 18% 82% 87%;
  margin-top: 60px;
  margin-left: 20px;
}
.dot {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 50%;
}
.fbox {
  background-color: rgb(21, 21, 177);
  width: 25px;
  height: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.sbox {
  background-color: rgb(81, 81, 228);
  width: 22px;
  height: 18px;
  margin-right: 20px;
  margin-top: 20px;
}
.tbox {
  background-color: rgb(136, 136, 245);
  width: 20px;
  height: 15px;
  margin-right: 20px;
  margin-top: 20px;
}
.footer {
  display: flex;
  bottom: 20px;
  left: 20px;
}
.ig {
  border: 2px solid rgb(99, 6, 250);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
i {
  padding-left: 5px;
  padding-top: 5px;
}

.fb {
  margin-left: 20px;
  border: 2px solid rgb(99, 6, 250);
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.twi {
  margin-left: 20px;
  border: 2px solid rgb(99, 6, 250);
  width: 30px;
  height: 30px;
}
.circle {
  margin-left: 20px;
  border: 2px solid rgb(99, 6, 250);
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.comment {
  margin-left: 500px;
  margin-bottom: 20px;
  background-color: rgb(33, 33, 148);
  /* border: 2px solid rgb(99, 6, 250); */
  width: 80px;
  height: 60px;
  border-radius: 50px;
}

.comment > i {
  padding-top: 20px;
  padding-left: 30px;
}
@media (min-width: 680px) {
  .textPic {
    flex-direction: row;
  }
  .text {
    width: 50%;
  }
  .text h1 {
    font-size: 50px;
  }
  .text h3 {
    font-size: 20px;
  }
  .text h5 {
    font-size: 30px;
  }
  .text p {
    font-size: 10px;
  }
  #apply {
    background-color: rgb(67, 67, 199);
    color: white;
    width: 98px;
    height: 25px;
    border-width: 2px;
    font-size: 10px;
  }
  #rmore {
    margin-left: 30px;
    width: 98px;
    height: 25px;
    border-width: 2px;
    font-size: 10px;
  }

  .img-case img {
    height: 180px;
    width: 170%;
    border-radius: 15% 85% 87% 13% / 13% 18% 82% 87%;
    margin-top: 10px;
    margin-left: 20px;
  }
  .dot {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 250px;
  }
  .main-page {
    width: 80%;
    height: 430px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
  }
  .footer {
    margin-top: 40px;
  }
  .comment {
    margin-left: 500px;
  }
}
@media (min-width: 1040) {
  .comment {
    margin-left: 700px;
  }
}
