* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* globals */
img {
  width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}

<<<<<<< HEAD
=======
.container {
  width: 100%;
}

>>>>>>> 73ad73d85093b6423361c4aa497e71f980a16e2c
/* navigation style */

.logo {
  width: 100px;
  height: 70px;
  cursor: pointer;
}

.menuBar {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.navigation {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* flex-direction: column; */
}

.navigation > ul {
  display: none;
  font-size: 12px;
  list-style: none;
}

.navigation ul li {
  margin-right: 30px;
}

.navigation ul li a {
  text-decoration: none;
}

.navigation ul li a:hover {
  text-decoration: underline;
}

.navigation span {
  font-size: 12px;
}

/* side Bar */

.navigation .sideBar {
  display: none;
  position: relative;
  width: 250px;
  height: 100vh;
  color: aliceblue;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 10px;
}

.navigation .sideBar ul {
  display: block;
}

.navigation .sideBar ul li {
  margin-bottom: 15px;
}

.navigation .sideBar ul li a {
  color: aliceblue;
}

.closeSideBar {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  /* sideBar ends */
}

/* hero section */

.hero {
  position: relative;
  width: 100%;
  height: 450px;
  /* height: calc(100vh - 90px); */
  background-color: rgb(93, 47, 47);
  background-image: url("../images/pexels-ann-poan-5797997.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* overlay */

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.hero .creative {
  color: #fff;
  padding: 20px;
  z-index: 1;
}

.hero .creative h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.hero .creative p {
  text-align: center;
}

<<<<<<< HEAD
=======
.whatwedo {
  margin: 100px auto;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  text-align: center;
}

.services {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 220px;
  padding: 10px;
  width: 250px;
}

.services p {
  text-align: justify;
}

.iconContainer {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3497da;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

>>>>>>> 73ad73d85093b6423361c4aa497e71f980a16e2c
/* hero ennds */

/* resposive designn */
@media (min-width: 680px) {
  .hero .creative p {
    width: 480px;
<<<<<<< HEAD
=======
    font-size: 1.5rem;
  }

  .hero .creative h1 {
    font-size: 2.5rem;
  }

  .container {
    width: 90%;
    margin: 0 auto;
>>>>>>> 73ad73d85093b6423361c4aa497e71f980a16e2c
  }
}

@media (min-width: 1040px) {
<<<<<<< HEAD
=======
  .container {
    width: 80%;
    margin: 0 auto;
  }
>>>>>>> 73ad73d85093b6423361c4aa497e71f980a16e2c
  .hero .creative p {
    width: 680px;
  }

  .navigation > ul {
    display: flex;
  }
  .menuBar {
    display: none;
  }
<<<<<<< HEAD
=======

  .whatwedo {
    flex-direction: row;
    width: 75%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
>>>>>>> 73ad73d85093b6423361c4aa497e71f980a16e2c
}
